################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/csharp/Lesson/.vs/
/csharp/Lesson/*/bin
/csharp/Lesson/*/obj
.vs/VSWorkspaceState.json
.vs/odata/FileContentIndex/fd54d59d-d89f-49f1-9794-095a65cda70c.vsidx
.vs/odata/v17/.wsuo
.vs/odata/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
java/Olingo-OData-5.0.0/samples/odata-schema-validation-engine/logs/compliance-system.log
java/Olingo-OData-5.0.0/samples/odata-compliance-system/logs/compliance-system.log
java/Olingo-OData-5.0.0/odata-xml-processor/logs/odata-xml-processor.log
java/Olingo-OData-5.0.0/samples/advanced-odata-xml-parser/*/*/*/*/*/*/*/*/*/*.Identifier
java/Olingo-OData-5.0.0/samples/advanced-odata-xml-parser/*/*/*/*/*/*/*/*/*.Identifier
java/Olingo-OData-5.0.0/samples/advanced-odata-xml-parser/*/*/*/*/*/*/*/*.Identifier
java/Olingo-OData-5.0.0/samples/advanced-odata-xml-parser/*/*/*/*/*/*/*.Identifier
java/Olingo-OData-5.0.0/samples/advanced-odata-xml-parser/*/*/*/*/*/*.Identifier
java/Olingo-OData-5.0.0/samples/advanced-odata-xml-parser/*/*/*/*/*.Identifier
java/Olingo-OData-5.0.0/samples/advanced-odata-xml-parser/*/*/*/*.Identifier
java/Olingo-OData-5.0.0/samples/advanced-odata-xml-parser/*/*.Identifier
java/Olingo-OData-5.0.0/samples/advanced-odata-xml-parser/*.Identifier