################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/csharp/Lesson/.vs/
/csharp/Lesson/Lesson1/bin/Debug/net8.0
/csharp/Lesson/Lesson1/obj
